*{
  box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.parent{
  width: 600px;
  margin: 40px auto;
  background-color: #eee;
  padding: 20px;
}

.parent input{
  border: none;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 18px;
  color: #009688;
}
.parent input:focus{
  outline: none;
}

.parent .button{
  display: flex;
  justify-content: space-between;
}

.parent .button span{
  background-color: #009688;
  text-align: center;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.parent .result{
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  border: 2px dashed #eee ;
  text-align: center;
}
.parent .result span span{
  font-weight: bold;
  color: #009688;
}